*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy' ;
    color: white;
}
html,body{
    height: 150%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box{
    height: 300px;
    width: 300px;
    background-color: black;
}